@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
}


body {
  font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #c3d2d9, #325973);
  color: #333; /* Cor de texto padrão */
}


#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}